:root {
    --main-color: #1d3557;
    --main-color-hover: #ffffff;
    --main-color-text: #1d3557;
    --main-buttons-background-color: #3b5e6f;
    --main-buttons-text-color: white;
    --main-buttons-background-color-hover: #5b89a0;
    --secondary-color: #e63946;
    --secondary-color-hover: #a8dadc;
    --secondary-color-text: white;
    --canvas-default-bg-color: lightgrey;
}

html, body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px var(--main-color-hover);
}

#navbar {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: var(--main-color);
    z-index: 10;
    border-bottom: 2px var(--main-buttons-background-color) solid;
}

#navbar-title {
    color: var(--main-color-hover);
    float: left;
    font-size: x-large;
    vertical-align: middle;
    line-height: 5vh;
    margin-left: 1%;
    user-select: none;
}

#navbar-item-container {
    display: block;
    float: right;
}

.navbar-item {
    color: var(--main-color-hover);
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;    
    vertical-align: middle;
    line-height: 5vh;
    cursor: pointer;
    user-select: none;
}

.navbar-item:hover {
    background-color: var(--main-buttons-background-color-hover);
}

.navbar-space {
    color: var(--main-color-text);
}

#main {
    padding-top: 5vh;
    width: 100%;
    background-color: var(--main-color-hover);
}

#main-intro {
    width: 100%;
    height: 80vh;
    background-color: var(--main-color-hover);
}

.main-item {
    width: 100%;
    height: 60vh;
    background-color: var(--main-color-hover);
}

.main-item:hover {
    background-color: red;
}

#footer {
    width: 100%;
    height: 2vh;
    background-color: var(--main-color);
    color: var(--main-color-hover);
}

@media screen and (max-width: 700px) {
    #navbar-item-container {
        display: none;
    }
}