.carouselWrap {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.carouselLeft {
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.carouselMid {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.carouselRight {
    width: 15%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.carouselAltImage:hover {
    cursor: pointer;
    filter: blur(0);
}

.carouselAltImage {
    height: 100%;
    filter: blur(2px);
}