.wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--main-theme-text);
    filter: drop-shadow(1px 1px 1px 1px var(--primary))
}

.top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time {
    width: 15%;
}

.place {
    width: 30%;
    text-align: end;
}

.title {
    width: 100%;
    font-size: 1.15em;
    /* font-weight: bold; */
}

.bottom {
    display: flex;
    flex-direction: column;
}

.bottomItem {
    display: flex;
    flex-direction: row;
}

.bottomItemBullet {
    width: 15%;
    text-align: end;
}

.bottomItemMain {
    width: 85%;
}