.wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--main-theme-text);
}

.categoryWrap {
    padding: 16px;
    background-color: var(--main-theme);
    filter: var(--drop-shadow-default);
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
}

.headerTitle {
    font-size: 1.5em;
    width: 100%;
    padding-bottom: 8px;
}