#experience-title {
    width: 100%;
    text-align: center;
    color: var(--main-color);
    font-size: large;
    font-weight: bold;
}

.experience-year-long {
    height: 120px;
    --year-height: 120px;
}

.experience-year-short {
    height: 20px;
    --year-height: 20px;
}


.experience-year-line {
    position: absolute;
    top: initial;
    height: var(--year-height);
    width: 0.5%;
    left: 49.75%;
    background-color: var(--main-color);
}

.experience-year-line-year {
    position: absolute;
    margin-top: calc(var(--year-height) - calc(var(--year-height)/24));
    height: calc(var(--year-height)/24);
    width: 5%;
    left: 47.5%;
    background-color: var(--main-color);
}

.experience-year-text-year {
    position: absolute;
    margin-top: calc(var(--year-height) - calc(var(--year-height)/24) - 6px);
    height: calc(var(--year-height)/24);
    left: 44%;
    color: var(--main-color);
    cursor: pointer;
}

.experience-year-line-month {
    position: absolute;
    height: calc(var(--year-height)/24);
    width: 1%;
    left: 49.5%;
    background-color: var(--main-color);
}

.experience-year-line-month-full {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.experience-extended-item {
    position: absolute;
    display: none;
    background-color: var(--main-color);
    width: 35%;
    min-height: 100px;
    max-height: 300px;
}

.experience-extended-item-title {
    color: var(--main-color-hover);
    font-size: large;
    padding-bottom: 5px;
    width: 65%;
    margin-left: 5%;
}
.experience-extended-item-description {
    color: var(--main-color-hover);
    width: 65%;
    margin-left: 5%;
}

#experience-extended-item-top-left {
    left: 10px;
}

#experience-extended-item-top-right {
    right: 10px;
}

#experience-extended-item-bottom-left {
    left: 10px;
}

#experience-extended-item-bottom-right {
    right: 10px;
}

.experience-explanation-line {
    position: absolute;
}