#aboutMe-cover {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

#aboutMe-coverImage {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 80vh;
    background-image: url("../../../resources/icons/aboutMeBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutMe-personImageHead {
    width: 30%;
    height: 20vh;
    margin-left: 20px;
    margin-top: -4vh;
    background-image: url("./myselfHead.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#aboutMe-info {
    position: absolute;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 2;
    display: -webkit-inline-box;
}

#aboutMe-name {
    font-size: 3em;
    color: var(--main-color-hover);
}

#aboutMe-description {
    font-size: 1em;
    color: var(--main-color-hover);
}


@media screen and (max-width: 1200px) {
    #aboutMe-personImageHead {
        position: absolute;
        width: 30%;
        z-index: 5;
        height: 20vh;
        margin-top: 25%;
        right: 10%;
        background-image: url("./myselfHead.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #aboutMe-info {
        position: absolute;
        margin-top: 20%;
        margin-left: 25%;
        margin-right: 0;
        z-index: 2;
        display: -webkit-inline-box;
    }
}

@media screen and (max-width: 850px) {
    #aboutMe-personImageHead {
        position: absolute;
        width: 30%;
        z-index: 5;
        height: 20vh;
        margin-top: 35%;
        right: 10%;
        background-image: url("./myselfHead.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #aboutMe-info {
        position: absolute;
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 0;
        z-index: 2;
        display: -webkit-inline-box;
    }
}

@media screen and (max-width: 700px) {
    #aboutMe-personImageHead {
        position: absolute;
        width: 30%;
        z-index: 5;
        height: 20vh;
        margin-top: 45%;
        right: 10%;
        background-image: url("./myselfHead.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}


@media screen and (max-width: 600px) {
    #aboutMe-personImageHead {
        position: absolute;
        width: 60%;
        margin-left: 30%;
        margin-right: 30%;
        z-index: 5;
        height: 40vh;
        margin-top: 300px;
        background-image: url("./myselfHead.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #aboutMe-info {
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        z-index: 2;
        display: -webkit-inline-box;
    }
    
    #aboutMe-coverImage {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 80vh;
        background-color: var(--main-color);
    }

    #aboutMe-description {
        font-size: small;
        color: var(--main-color-hover);
    }
}

@media screen and (max-width: 500px) {
    #aboutMe-personImageHead {
        position: absolute;
        width: 60%;
        margin-left: 30%;
        margin-right: 30%;
        z-index: 5;
        height: 40vh;
        margin-top: 350px;
        background-image: url("./myselfHead.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}