#projects-wrapper {
    display: inline;
    /* text-align: -webkit-center; */
    --pitem-height: 50vh;
    --carousel-height: 40vh;
    margin-right: 5%;
    margin-left: 5%;
    /* overflow: auto; */
}

#projects-title {
    color: var(--main-color-text);
    width: 100%;
    font-size: x-large;
    text-align: center;
}

.project-item {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    user-select: none;
    background-color: var(--main-color);
}

.project-item-title {
    width: 60%;
    font-size: x-large;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: center;
}

.project-item-description {
    width: 60%;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    text-align: center;
}

.project-item-info {
    display: none;
    color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.project-item-linkButton-wrapper {
    height: auto;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    display: flow-root;
}

.project-item-linkButton {
    background-color: var(--main-color-hover);
    padding: 5px;
    width: max-content;
    border-radius: 50px;
    float: left;
    color: var(--main-color-text);
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.project-item-carousel-wrap {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 800px) {
    .project-item-carousel-wrap {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .project-item {
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        user-select: none;
        background-color: var(--main-color);
    }
    .project-item-linkButton-wrapper {
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        display: flow-root;
    }
    .project-item-info {
        display: none;
        color: white;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}